ENV_MINIO_URL=http://localhost:9000

# MinIO Admin 憑證
ENV_MINIO_ACCESS_KEY = "xxx"   
ENV_MINIO_SECRET_KEY = "xxx"

ENV_REGION = us-east-1

ENV_NEXTCLOUD_URL=http://localhost:8085
ENV_NEXTCLOUD_USER=admin
ENV_NEXTCLOUD_PASSWORD=password
